<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="../static/contact.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amaranth&display=swap" rel="stylesheet"> 
</head>

<body>
    <nav id="navbar">
        img(src="../static/logo_tsf.png", alt="Logo")
        <div class="logo_name"><a href="#">The Sparks Foundation</a></div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About Us</a></li>
            <li><a href="/">Programs</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
        <button id="btn">Donate Now</button>
    </nav>
    <div id="adress"></div>

    <div class="heading">Contact Us</div>
    <div id="contact">
        <form action="" method="get" id="contact">
            <input type="text" name="name" placeholder="Enter Your Name Here">
            <input type="text" name="adress" placeholder="Enter Your Adress Here">
            <input type="number" name="phone" placeholder="Enter Your Phone Number Here">
            <input type="email" name="email-id" placeholder="Enter Your Email-id Here">
            <button type="submit">Submit</button>

        </form>
    </div>

    <footer>
        <section id="last">
            <div id="block_a" class="blocks">
                <p>Get to know us</p>
                <li><a href="">About us</a></li>
                <li><a href="">Careers</a></li>
                <li><a href="">Blog</a></li>
            </div>
            <div id="block_b" class="blocks">
                <p>Programs</p>
                <li><a href="">Plantation</a></li>
                <li><a href="">Street Play</a></li>
                <li><a href="">Women Empowerment</a></li>
            </div>
            <div class="blocks">
                <p>Connect with us</p>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Help centre</a></li>
                <li><a href="">Newsletter</a></li>
            </div>
            <div id="block_c" class="blocks">
                <p>Programs</p>
                <li><a href="">Plantation</a></li>
                <li><a href="">Street Play</a></li>
                <li><a href="">Women Empowerment</a></li>
            </div>
        </section>
        <div id="line"></div>
        <p id="copyright">©2020 The Sparks Foundation| @RohitSonwane | All Rights Reserved | Terms and Condition</p>
        </footer>
    

</body>

</html>