<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="../static/index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amaranth&display=swap" rel="stylesheet">
</head>

<body>
    <nav id="navbar">
        img(src="../static/logo_tsf.png", alt="Logo")
        <div class="logo_name"><a href="#">The Sparks Foundation</a></div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About Us</a></li>
            <li><a href="/">Programs</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
        <button id="btn">Donate Now</button>
    </nav>

    <div id="adress"></div>

    <!-- <section id="first">
        <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_Hjn3kc7PCwjMOT" async> </script> </form>
    </section> -->
    
    <div class="slideshow">
        <div class="slideshow-item">
            <img src="../static/1sts.jpg" alt="">
            <div class="slideshow-item-text">
                <h5>Mission:<br>
                No Child Hungry</h5>
                <p>A third of world's malnourished children live in India. Covid-19 has created more hunger.Let no child go hungry</p>
                <form>
                    <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_Hjn3kc7PCwjMOT" async> </script>
                </form>
            </div>    
        </div>

        <div class="slideshow-item">
            <img src="../static/2nd.jpg" alt="">
            <div class="slideshow-item-text">
                <h5>Mission:<br> Educate Children</h5>
                <p>Extend your help to restore incomes of 300,000 families to send 200,000 children to school</p>
                <form>
                    <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_Hjn3kc7PCwjMOT" async> </script>
                </form>
            </div>
        </div>

        <div class="slideshow-item">
            <img src="../static/3rds.jpg" alt="">
            <div class="slideshow-item-text">
                <h5>Mission:<br> EldersLivesMatter</h5>
                <p>70% of our elders are alone, sick, hungry or afraid, they deserve respect & support.Sponsor monthly care for the elderly</p>
                <form>
                    <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_Hjn3kc7PCwjMOT" async> </script>
                </form>
            </div>
        </div>
    </div>
    <div id="first">
        <img src="../static/4th.jpg" alt="">
    </div>
    
    <div id="second">
        <div class="second-block">
            <div class="img">
                 <img src="../static/1st.png">
            </div>
            <div class="img-text">Know your beneficiary, we'll share their name, picture and more</div>
        </div>
        <div class="second-block">
            <div class="img">
                 <img src="../static/2nd.png">
            </div>
            <div class="img-text">Learn how you make a change in their lives through our reports</div>
        </div>
        <div class="second-block">
            <div class="img">
                 <img src="../static/3rd.png">
            </div>
            <div class="img-text">Every beneficiary you support is under the care of GiveAssured nonprofits</div>
        </div>
        <div class="second-block">
            <div class="img">
                 <img src="../static/4th.png">
            </div>
            <div class="img-text">Your choice to give monthly will make a long-lasting impact</div>
        </div>
    </div>
    <footer>
    <section id="last">
        <div id="block_a" class="blocks">
            <p>Get to know us</p>
            <li><a href="">About us</a></li>
            <li><a href="">Careers</a></li>
            <li><a href="">Blog</a></li>
        </div>
        <div id="block_b" class="blocks">
            <p>Programs</p>
            <li><a href="">Plantation</a></li>
            <li><a href="">Street Play</a></li>
            <li><a href="">Women Empowerment</a></li>
        </div>
        <div class="blocks">
            <p>Connect with us</p>
            <li><a href="">Contact Us</a></li>
            <li><a href="">Help centre</a></li>
            <li><a href="">Newsletter</a></li>
        </div>
        <div id="block_c" class="blocks">
            <p>Programs</p>
            <li><a href="">Plantation</a></li>
            <li><a href="">Street Play</a></li>
            <li><a href="">Women Empowerment</a></li>
        </div>
    </section>
    <div id="line"></div>
    <p id="copyright">©2020 The Sparks Foundation| @RohitSonwane | All Rights Reserved | Terms and Condition</p>
    </footer>

</body>

</html>